// body {
//   // font-family: 'Roboto', sans-serif;
//   // background-color: $background-color;
//   // color: $main-text-color;
//   // font-size: $main-font-size;
//   // letter-spacing: $main-letter-spacing;
// }
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
